<div *ngIf="isMailView">
  <ion-list  (click)="goToDetails(mail.id)" routerDirection="forward" >
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col size="size-sm">
            <ion-avatar *ngIf="!isProProfile">
              <img src={{mail.contact.pictureUrl}}>
            </ion-avatar>
            <ion-avatar *ngIf="isProProfile">
              <img src={{mail.messages[0].profileSender.pictureUrl}}>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row *ngIf="!isProProfile">
              <ion-text class="name">{{mail.contact.firstname}} {{mail.contact.name}}</ion-text>
            </ion-row>
            <ion-row *ngIf="isProProfile">
              <ion-text class="name">{{mail.messages[0].profileSender.firstname}} {{mail.messages[0].profileSender.name}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text class="lastMessage">{{formatLastMessage}}</ion-text>
            </ion-row>
          </ion-col>
          <ion-col size="size-sm">
            <ion-text class="lastMessage">{{mail.lastMessageTime}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>

<div *ngIf="!isMailView">
  <ion-list>
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col size="size-sm">
            <ion-avatar *ngIf="!isProProfile">
              <img src={{request.contact.pictureUrl}}>
            </ion-avatar>
            <ion-avatar *ngIf="isProProfile">
              <img src={{request.sender.pictureUrl}}>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row *ngIf="isProProfile">
              <ion-text class="name">{{request.sender.firstname}} {{request.sender.name}}</ion-text>
            </ion-row>
            <ion-row *ngIf="!isProProfile">
              <ion-text class="name">{{request.contact.firstname}} {{request.contact.name}}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text class="lastMessage">{{request.message}}</ion-text>
            </ion-row>
          </ion-col>
          <ion-col size="size-sm">
            <ion-text class="lastMessage">{{request.date}}</ion-text>
          </ion-col>
          <ion-row *ngIf="isProProfile" size="size-sm">
            <ion-col><ion-button (click)="deleteRequest(request)" color="tertiary" >Supprimer</ion-button></ion-col>
            <ion-col><ion-button (click)="acceptRequest(request)">Accepter</ion-button></ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>