.question-title{
    font-size: 1rem;
    font-weight: bold;
}

.text-container{
    width: 90%;
    border-radius: 3%;
    border: 0.15rem solid;
    border-color: var(--ion-color-tertiary);
    margin: 0 auto;
    padding: 0.7rem 0.3rem;
}
.text-content{
    font-size: 0.8rem;
}

ion-card{
 padding: 0.8rem;
}

p{
    font-size: 0.75rem;
}

.my-custom-modal-css {
    --max-height: 50px;
 }