<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Questions
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item lines="none" margin>
        <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
        <ion-text color="secondary" class="question-title">{{question.title}}</ion-text>
    </ion-item>
    <ion-item lines="none">
        <div class="text-container">
          <ion-item lines="none">
            <ion-text class="text-content" color="tertiary">
              {{question.content}}
            </ion-text>
          </ion-item>
        </div>


      </ion-item>
      <ion-item lines="full">
        <div *ngIf="!isStudent">
          <ion-avatar (click)="goAuthorProfile()" margin>
            <img [src]="question.author.pictureUrl">
          </ion-avatar>
        </div>
        <div *ngIf="isStudent">
          <ion-avatar margin>
            <img [src]="question.author.pictureUrl">
          </ion-avatar>
        </div>
        <ion-text color="tertiary">
          <p>
            {{question.author.name}} {{question.author.firstname}}
          </p>
          
        </ion-text>
         <ion-text slot="end" >
          <p>
            {{question.creationDate  | date: 'dd/MM/yyyy' }}
          </p>
          
        </ion-text>
    </ion-item>

    

    <div *ngIf="question.answer" style="margin-top: 0.5rem;">

      <ion-item lines="none">
        <div class="text-container">
          <ion-item lines="none">
            <ion-text class="text-content" color="tertiary">
              {{question.answer.content}}
            </ion-text>
          </ion-item>
        </div>


      </ion-item>
      <ion-item lines="none">
        <div *ngIf="isStudent">
          <ion-avatar (click)="presentActionSheet()" margin>
            <img [src]="question.answer.author.pictureUrl">
          </ion-avatar>
        </div>
        <div *ngIf="!isStudent">
          <ion-avatar margin>
            <img [src]="question.answer.author.pictureUrl">
          </ion-avatar>
        </div>
        <ion-text color="tertiary">
          <p>
            {{question.answer.author.name}} {{question.answer.author.firstname}}
          </p>
          
        </ion-text>
         <ion-text slot="end" >
          <p>
            {{question.answer.creationDate  | date: 'dd/MM/yyyy' }}
          </p>
          
        </ion-text>
    </ion-item>
    </div>    

    <div *ngIf="!question.answer && userCanAnswer">
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="answerText" placeholder="Répondez à cette question"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-button color="primary" (click)="sendAnswer()"  >Envoyer ma réponse</ion-button>
      </ion-item>
    </div>

    <div *ngIf="!question.answer && !userCanAnswer"> 
      <ion-item lines="none"> 
        <ion-text color="primary" text-center>
          <ion-label>Il n'y a pas encore de réponse à cette question.</ion-label>
        </ion-text>
      </ion-item>
    </div>


  </ion-content>


