<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Domaine
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-item lines="none">
          <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
      <ion-text color="secondary" class="domain-title">Les métiers: {{domain.title}}</ion-text>
      </ion-item>

      <ion-list>
        <div *ngFor="let letter of jobsToDisplayByLetter.keys();">
            <ion-item lines="none" >
              <ion-text color="secondary"><h2>{{letter}}</h2></ion-text>
            </ion-item>
            <ion-list *ngFor="let job of jobsToDisplayByLetter.get(letter);"  lines="inset"  lines="none" no-margin>
              <ion-item  lines="full" (click)="displayJobDetail(job)">
                  <ion-icon color="secondary" slot="end" name="ios-arrow-down" ></ion-icon>
                  <ion-text color="secondary"><h3 > {{job.title}}</h3></ion-text>
              </ion-item>  
            <div *ngIf="displayDetails.get(job)">
                <ion-item no-margin lines="none" *ngIf="job.synonyms && job.synonyms.length>0">
                    <ion-text color="secondary">
                      <p class="detail-content"><span class="detail-section">Autre(s) nom(s):</span>
                            <span *ngFor="let synonym of job.synonyms"> {{synonym}}; </span>
                      </p>
                    </ion-text>
                  </ion-item>
              <ion-item no-margin lines="none" >
                <ion-text color="secondary">
                  <p class="detail-content"><span class="detail-section">Description:</span>
                    
                        {{job.shortDescription}}
                  </p>
                </ion-text>
              </ion-item>
              <ion-item no-margin lines="none" *ngIf="job.linkedJobs && job.linkedJobs.length>0">
                  <ion-text color="secondary">
                    <p class="detail-content"><span class="detail-section">Autre(s) métier(s) en lien:</span>
                    <span *ngFor=" let linkedJob of job.linkedJobs"> {{linkedJob.title}};</span>
                    </p>
                  </ion-text>
                </ion-item>

                <ion-item no-margin lines="none" >
                    <ion-button color="tertiary" class="center"href="/job/detail/{{job.id}}" routerDirection="forward">
                      Fiche métier
                    </ion-button>
                  </ion-item>
            </div>
          </ion-list>
        </div>
      </ion-list>

  </ion-content>