.domain-title{
    font-size: 1.1rem;
    font-weight: bold;
}

h2{
font-size:1.1rem;
font-weight: bolder;
}

h3{
    font-size:0.9rem;
    font-weight: bold;
}

.separator{
    background-color: #8E3B73;
    width: 90%;
    height: 0.12rem;
    margin: 0 auto;
}
.detail-section{
    font-size: 0.8rem;
    font-weight: bolder;
    text-decoration: underline;

}

.detail-content{
    font-size: 0.8rem;
}

.center{
    margin: 0 auto;
}