<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trouver un métier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
        <ion-text color="secondary" class="page-title">Trouver un métier</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text>
        <p style="font-weight: bold;">Rechercher un métier</p>
      </ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="!selectedJob">
      <ion-searchbar (ionChange)="searchJob()" [(ngModel)]="searchText" placeholder="Chercher un métier"></ion-searchbar>
  </ion-item>
  <ion-list *ngIf="!selectedJob" margin>
      <ion-item *ngFor="let job of jobsToDisplay;" href="/job/detail/{{job.id}}" routerDirection="forward" >
          {{job.title}}
      </ion-item>
  </ion-list>
    <ion-item lines="none" >
        <ion-text>
          <p style="font-weight: bold;">Les métiers par domaines</p>
        </ion-text>
      </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="5" size-md="6" size-sm="6" size="6" *ngFor="let domain of domains; let i = index;">
          <app-domain-preview  [domain]="domain"></app-domain-preview>
        </ion-col>
      </ion-row>
    </ion-grid>
     

</ion-content>