<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Messagerie
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" class="segment">
      <ion-segment-button value="conversations">
        <ion-label>Conversations</ion-label>
      </ion-segment-button>
      <ion-segment-button value="demandes">
        <ion-label>Demandes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isMailsView">
    <app-mail-preview *ngFor="let mail of mails; let i = index;" [mail]="mail"></app-mail-preview>
  </div> 

  <div *ngIf="!isMailsView">
    <app-mail-preview *ngFor="let request of requests; let i = index;" [request]="request"></app-mail-preview>
  </div> 

  <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" class="parameterBtn">
      <ion-fab-button color="secondary"><ion-icon name="settings"></ion-icon></ion-fab-button>
  </ion-fab>
  
</ion-content>