.vignette{
    width: 100%;
    height: 6rem;
}

.vignette-overlay{
    color: white;
}

header{
    height:100%;
    width:100%;
    overflow: hidden;
}

section {
    position: absolute;
    top: 0%;
    right: 5%;
    color: #fff;
  }
img{
    object-fit: cover;
   opacity: 0.35;
}

.vignette-img{
    object-fit: cover;
    
}