<ion-card no-margin no-padding class="vignette" href="/domain/detail/{{domain.id}}" routerDirection="forward">
  <ion-card-title>
  <header [style.background-color]="domain.color">
        <img src="{{domain.imageUrl}}" class="vignette-img" >
        <section>
            <p class="vignette-overlay" [style.color]="domain.textColor">{{domain.title}}</p>
        </section>
        
    </header>
    
    
  </ion-card-title>
</ion-card>
