<ion-card  href="/question/detail/{{question.id}}" routerDirection="forward" >
    <ion-item lines="none">
      <ion-text  class="title-label">{{question.title}} </ion-text>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-button href="/job/detail/{{question.job.id}}" routerDirection="forward" color="secondary">{{question.job.title}}</ion-button>
      <ion-text slot="end" color="secondary" class="author-label">{{question.author.firstname}} {{question.author.name}}</ion-text>
    </ion-item>
</ion-card>