.center {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35% !important;
    width: 35% !important;
}

.input {
    border-style: solid;
    border-radius: 25px;
    border-width:2px;
    color: var(--ion-color-primary);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    --padding-start: 10px;
}

.label {
    color: #555454;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
}

.login{
    position: relative;
    top: 10%;
}

.name{
    color: #555454;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
}

.send {
    --border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 25px;
    width: 70%;
}