<ion-header></ion-header>

<ion-content>
  <div class="login">
    <img src="/assets/jobello.jpg" class="image-center">
    <p class="name">Jobello</p>
    <div>
      <ion-label class="label">Adresse mail</ion-label>
      <ion-input [(ngModel)]="inputMail" required="true" class="input" type="email"></ion-input>
    </div>
    <br/>
    <div>
      <ion-label class="label">Mot de passe</ion-label>
      <ion-input [(ngModel)]="inputPassword" required="true" class="input" type="password"></ion-input>
    </div>
    <ion-button (click)="sendLogin()" expand="block" class="send">Se connecter</ion-button>
  </div>
</ion-content>