.vignette{
    width: 100%;
    height: 6rem;
}

.vignette-overlay{
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}

header{
    height:100%;
    width:100%;
    overflow: hidden;
    background-color: #8E3B73;
}

section {
    position: absolute;
    top: 2%;
    right: 5%;
    color: #fff;
    text-align: end;
    width:100%;
    height:6rem;
  }
img{
    object-fit: cover;
   opacity: 0.35;
}

.vignette-img{
    object-fit: cover;
    
}

#favButton{

}