<ion-card no-margin no-padding class="vignette" >
    <ion-card-title>
    <header >
          <img src="{{job.imageUrl}}" class="vignette-img" >
          <section>
            <ion-icon name="star" slot='end' [color]="color" id="favButton" (click)="$event.stopPropagation();switchFavorite($event);"></ion-icon>
            <ion-label >   
              <p class="vignette-overlay" >
                  <span>{{job.title}}</span>
              </p>
          </ion-label>
              
          </section>
          
      </header>
      
      
    </ion-card-title>
  </ion-card>
  