<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Poser une question
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
      <ion-text color="secondary" class="domain-title">Poser une question</ion-text>
      </ion-item>
          <ion-item lines="none">
              <ion-text>
                  <h3>Ma question</h3>
              </ion-text>
          </ion-item>
          <ion-item lines="none" color="primary" class="radius-bordered" margin>
            <ion-input [(ngModel)]="questionTitle" placeholder="Titre de la question">
            </ion-input>
            <ion-label no-margin no-padding slot="end"><p class="small-text"> {{questionTitle?.length}}/180</p></ion-label>
        </ion-item>
        <ion-item lines="none" class="bordered radius-bordered" margin>
            <ion-textarea  rows="8" [(ngModel)]="questionContent" placeholder="Détaillez votre question"></ion-textarea>
            <ion-label no-margin no-padding slot="end"><p class="small-text"> {{questionContent?.length}}/500</p></ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-text>
                <h3>Adresser à :</h3>
            </ion-text>
        </ion-item>
        <ion-item lines="none" *ngIf="!selectedJob">
            <ion-searchbar (ionChange)="searchJob()" [(ngModel)]="searchText" placeholder="Chercher un métier"></ion-searchbar>
        </ion-item>
        <ion-list *ngIf="!selectedJob" margin>
            <ion-item *ngFor="let job of jobsToDisplay;" (click)="selectedJob = job">
                {{job.title}}
            </ion-item>
        </ion-list>
        <ion-item class="vignette" lines="none" *ngIf="selectedJob" (click)="selectedJob = null">
            <app-job-preview  [job]="selectedJob" ></app-job-preview>
        </ion-item>
        
      </ion-list>
  </ion-content>
  <ion-footer color="primary">
      <ion-item>
        <ion-icon name="send" slot="end" color="primary" (click)="postAnswer()"></ion-icon>
      </ion-item>

  </ion-footer>