<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Questions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()"  class="back-button"></ion-icon>
    <ion-text color="secondary" class="domain-title">Liste des questions: {{titleSuffix}} </ion-text>
  </ion-item>
  <ion-item lines="none" *ngIf="!questions || questions.length<1">
    <ion-text color="primary" class="domain-title" > <h3>Il n'y a pas encore de questions</h3>  </ion-text>
  </ion-item>
      <app-question-preview *ngFor="let question of questions; let i = index;" [question]="question"></app-question-preview>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="allowedToCreateAnswer()" >
        <ion-fab-button color="secondary" href="/question/create/{{jobId}}" routerDirection="forward">
          <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
