<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary" id="menuTitleBar">
          <ion-icon slot="start" name="cog" size="large" id="settingIcon"></ion-icon>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="!p.sub" >
                  <ion-icon slot="start" [name]="p.icon" color="secondary"></ion-icon>
                  <ion-label color="secondary">
                    {{p.title}}
                  </ion-label>
                </ion-item>

              <ion-item  *ngIf="p.sub" (event)="$event.stopPropagation();" (click)="$event.stopPropagation()">
                <ion-icon slot="start" [name]="p.icon" color="secondary"></ion-icon>
                <ion-label color="secondary">
                    {{p.title}}
                </ion-label>
                    
                    
              </ion-item>
              <ion-list>
                  <ng-container *ngFor="let s of p.sub">
                  <ion-item [routerDirection]="'root'" [routerLink]="[s.url]" class="sub-line" lines="none" slot="end" >
                      <ion-label color="secondary" >
                          {{s.title}}
                        </ion-label>
                  </ion-item>
                  </ng-container>
              </ion-list>
            
  


          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
