.back {
    --color: #8E3B73;
    --background: transparent;
    --background-hover: transparent;
    font-size: 10px;
}

.cardTitle {
    font-size: 20px;
}

.inputDescription {
    border-style: ridge;
    border-width: 2px;
}

.fullContent {
    width:100%;
    padding-top: 15px;
}

.fullLine {
    width: 100%;
}

.line {
    border: solid 0.5px #8E3B73;
    --padding-start: 20px;
}

.select {
    max-width:100% ! important;
}