<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Mon profil
      </ion-title>
    </ion-toolbar>
  </ion-header>
 
<ion-content fullscreen>
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-button (click)="alertConfirmCancel()" fill="clear" class="back" >
            <ion-icon slot="icon-only" name="arrow-back" class="back-button"></ion-icon>
            {{backButtonLabel}}
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-item *ngIf=isStudent class="fullContent">
            <ion-label>{{formationLabel}}</ion-label>
            <ion-select value={{profile.formation}} (ionChange)="formationChange($event)" cancelText="Retour" okText="Valider" class="select">
                <ion-select-option *ngFor="let formation of allFormationsValues">{{formation}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf=!isStudent class="fullContent">
            <ion-label>{{jobLabel}}{{profile.job}}</ion-label>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-item class="fullContent">
            <ion-label>{{birthdayDateLabel}}</ion-label>
            <ion-datetime value={{profile.birthdate}} (ionChange)="birthdayChange($event)" placeholder="Select Date"></ion-datetime>
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-item *ngIf=!isStudent class="fullContent">
            <ion-label>{{locationLabel}}</ion-label>
            <ion-select value={{profile.location}} (ionChange)="locationChange($event)" cancelText="Retour" okText="Valider" class="select">
                <ion-select-option *ngFor="let location of allLocationsValues">{{location}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-row>
    <ion-row class="line"></ion-row>
    <ion-row>
        <ion-card class="fullLine">
            <ion-card-header>
                <ion-card-title class="cardTitle">À propos de {{profile.name}}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </ion-row>
    <ion-row>
        <ion-textarea rows=6 class="fullContent, inputDescription" value={{profile.descriptionNote.text}} (ionChange)="descriptionChange($event)"></ion-textarea> 
    </ion-row>
    <ion-button (click)="saveAndGoToProfile()" expand="full">
        {{saveButtonLabel}}
    </ion-button>
</ion-grid>
</ion-content>
  
