.vignette{
    width: 100%;
    height: 7rem;
}

.vignette-overlay{
    color: white;
    font-size: 1rem;
}

header{
    height:100%;
    width:100%;
    overflow: hidden;
    background-color: rgb(116, 8, 116);
}

section {
    position: absolute;
    top: 10%;
    left: 3%;
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
    width:100%;
    height:7rem;
  }
img{
    object-fit: cover;
   opacity: 0.35;
}

.vignette-img{
    object-fit: cover;
    
}

.vignette-icon{
    font-size: 2rem;
    vertical-align: bottom;
}

.job-button-action{
    max-width: 33%;
}

.job-button-text{
    font-size: 0.625rem;
    text-align: center;
    font-weight: bold;
}

.center{
    margin: 0 auto;
}

.job-button-icon{
    height:2rem;
}

.card-title{
    font-weight: bolder;
    text-align: center;
    font-size: 1.3rem;
}
.card-separator{
    --min-height: 1.8rem;
    border-radius:5px;
    font-weight:bold;
    font-size:1rem;
    text-align: center;
    vertical-align: middle;
}