<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Fiche métier
      </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="vignette">
        <header>
            <img src="{{job.imageUrl}}" class="vignette-img" >
            <section >
                <ion-label >   
                    <p class="vignette-overlay" >
                        <ion-icon class="vignette-icon" name="ios-arrow-back" (click)="navBack()" no-padding no-margin></ion-icon>
                        <span>{{job.title}}</span>
                    </p>
                </ion-label>
            </section>
        </header>
    </div>
    <ion-card no-padding>
        <ion-card-content no-padding>
            <ion-grid>
                <ion-row>
                  <ion-col class="job-button-action" no-padding (click)="displayJobQuestion()">
                    <ion-list no-margin no-padding >
                        <ion-item lines="none" class="job-button-icon" no-margin no-padding>
                            <ion-icon color="primary" name="md-help" class="center" no-margin>
                            </ion-icon>
                        </ion-item>
                        <ion-item lines="none" no-margin no-padding>
                            <ion-text class="job-button-text center" >
                                Questions
                            </ion-text>
                        </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col class="job-button-action"  no-padding (click)="displayPro()">
                    <ion-item lines="none" class="job-button-icon" no-margin no-padding>
                        <ion-icon color="primary"  name="ios-people" class="center" no-margin>
                        </ion-icon>
                    </ion-item>
                    <ion-item lines="none" no-margin no-padding>
                        <ion-text class="job-button-text center">
                            Professionnels
                        </ion-text>
                    </ion-item>
                  </ion-col>
                  <ion-col class="job-button-action"  no-padding (click)="displayContact()">
                    <ion-item lines="none" class="job-button-icon" no-margin no-padding>
                        <ion-icon color="primary" name="ios-cellular" class="center" no-margin>
                        </ion-icon>
                    </ion-item>
                    <ion-item lines="none" no-margin no-padding>
                        <ion-text class="job-button-text center">
                            Être contacté
                        </ion-text>
                    </ion-item>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card no-padding>
        <ion-card-header no-margin no-padding>
            <ion-card-title > <h3 class="card-title">Fiche métier</h3></ion-card-title>
          </ion-card-header>
            <ion-item class="card-separator" lines="none" color="secondary" no-margin no-padding>
                <ion-label no-margin no-padding><p>Description du métier</p></ion-label>
            </ion-item>
          
        <ion-card-content >
            <p>L'assistant commercial est un acteur clé pour une l'entreprise. Il permet la communication entre les différents acteurs de son service, les commerciaux, les clients et la direction. Ses principales missions consistent à prendre le relais des dossiers clients et la direction.</p>

            <p>En moyenne, un assistant commercial touche 35 000 euros brut annuel.</p>
            
        </ion-card-content>
        <ion-item class="card-separator" lines="none" color="secondary" no-margin no-padding>
            <ion-label no-margin no-padding><p>Parcours</p></ion-label>
        </ion-item>
        <ion-card-content >
            <p>Pour occuper un poste d'assistant commercial, il est conseillé de poursuivre ses études après le Bac et d'obtenir le BTS Gestion de la PME ou le BTS MCO (Management Commercial Opérationnel). Certains pourront faire le choix de viser un Bac+3 afin d'être en possession d'une Licence.</p>
            
        </ion-card-content>
    </ion-card>
</ion-content>