.cardTitle {
    font-size: 20px;
}

.edit {
    --color: black;
    --background: transparent;
    --background-hover: transparent;
    font-size: 10px;
}

.ion-justify-content-end {
    height: 30px;
}

.line { 
    border: solid 0.5px #8E3B73;
}

.names {
    font-size: 25px;
    font-weight: bold;
}