<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mon profil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item lines="none">
    <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
  <ion-text color="secondary" class="domain-title">Profile</ion-text>
  </ion-item>
  <ion-grid>
    <div *ngIf="editView">
      <ion-row class="ion-justify-content-end">
        <ion-button (click)="goAnOtherPage()" fill="clear" class="edit">
          {{editButtonTitle}}
        </ion-button>
      </ion-row>
    </div>
    <ion-row>
      <ion-col size="auto">  
        <ion-avatar>
          <img src={{profile.pictureUrl}}>
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-label class="names">{{profile.firstname}} {{profile.name}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="isStudent">{{profile.formation}}</ion-label>
          <ion-label *ngIf="!isStudent">{{profile.job}}</ion-label>
        </ion-row> 
        <ion-row>
          <ion-label>{{age}} ans</ion-label>
        </ion-row>
        <ion-row *ngIf="!isStudent">
          <ion-label>{{profile.location}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="line"></ion-row>
    <div *ngIf="editView">
      <ion-row class="ion-justify-content-end">
        <ion-button (click)="goAnOtherPage()" class="edit" fill="clear">
          {{editButtonTitle}}
        </ion-button>
      </ion-row>
    </div>
    <ion-row>
      <ion-card>
         <ion-card-header>
           <ion-card-title class="cardTitle">À propos de {{profile.name}}</ion-card-title>
         </ion-card-header>
         <ion-card-content>{{profile.descriptionNote.text}}</ion-card-content>
       </ion-card>  
    </ion-row>
  </ion-grid>
</ion-content>
