.back {
    --color: #8E3B73;
    --background: transparent;
    --background-hover: transparent;
    font-size: 14px;
}

.component {
    color: #8E3B73;
    width: 24px;
    height: 24px;
    
}

.contact {
    background-color: #E3E3E3;
    color: black;
    position: relative;
    left: 5%;
    width: 60%;
    padding: 6px;
    border-radius: 15px;
    font-size: 14px;
}

.footer {
    background-color: white;
    padding-bottom: 8px;
}

.me {
    background-color: var(--ion-color-secondary);
    color: white;
    position: relative;
    left: 35%;
    right: 10%;
    width: 60%;
    padding: 6px;
    border-radius: 15px;
    font-size: 14px;
}

.send {
    border: 1px solid;
    border-radius: 20px;
    color: #A3A9B3;
}