<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Messagerie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-button (click)="backToMails()" fill="clear" class="back">
          <ion-icon slot="icon-only" name="arrow-back" class="back-button"></ion-icon>
          {{mail.contact.firstname}} {{mail.contact.name}}
      </ion-button>
    </ion-row>
  </ion-grid>
  <p *ngFor="let message of mail.messages" class="{{message.contact}}"> 
    <ion-text>{{message.content}}</ion-text>
  </p>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="white"><ion-icon name="attach" class="component"></ion-icon></ion-button>
    </ion-buttons>
    <ion-input [(ngModel)]="currentMessage" class="send"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="sendMessage()" color="white"><ion-icon name="send" class="component"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
