<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favoris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <ion-icon color="secondary" slot="start" name="ios-arrow-back" (click)="navBack()" class="back-button"></ion-icon>
<ion-text color="secondary" class="domain-title">Mes favoris</ion-text>
</ion-item>
  <ion-list>
    <ion-item lines="none" *ngFor="let job of jobs" class="vignettes-margin">   
      <app-job-preview [job]="job"></app-job-preview>
    </ion-item>
  </ion-list>

</ion-content>
