<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-avatar class="image-center">
      <img src="/assets/jobello.jpg">
    </ion-avatar>
    <ion-card-header>
      <ion-card-subtitle>Jobello</ion-card-subtitle>
      <ion-card-title>Bienvenue sur Jobello</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cette application est en cours de développement. Toutes les fonctionnalités ne sont pas encore disponibles et des bugs peuvent être présent. Pour toute remarque ou question sur le projet, vous pouvez nous contacter par mail à l'adresse: jobello.app@gmail.com. Merci de votre compréhension !</p>
    </ion-card-content>
  </ion-card>
 <ion-card *ngIf="randomJob">
  <ion-card-header>
    <ion-card-title> <ion-label>Un métier à découvrir</ion-label></ion-card-title>
  </ion-card-header>
  <ion-card-content >
    <ion-item href="/job/detail/{{randomJob.id}}" routerDirection="forward" no-margin no-padding lines="none" detail="false">
      <app-job-preview [job]="randomJob" ></app-job-preview>
    </ion-item>
  </ion-card-content>
 </ion-card>
<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-text>
        <p>
          Vous avez manipulé l'application et vous voulez qu'elle redevienne comme après l'installation ?
        </p>
        </ion-text>
    </ion-item>
    <ion-item lines="none">
        <ion-button color="primary" (click)="clearData()">
          Réinitialiser les données
        </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button color="primary" expand="block" (click)="switchToSchooler()">Mode lycéen</ion-button>
<ion-button color="primary" expand="block" (click)="switchToPro()">Mode professionnel</ion-button>

</ion-content>
